- video_slicktrabutes = '{"slidesToShow": 5, "slidesToScroll": 1, "rows": 1, "infinite": false, "responsive": [{"breakpoint": 1024, "settings": { "slidesToShow": 3, "slidesToScroll": 3, "infinite": true } }, { "breakpoint": 600, "settings": { "slidesToShow": 2, "slidesToScroll": 2 } }, { "breakpoint": 480, "settings": { "slidesToShow": 2, "slidesToScroll": 1 } }] }'

#video-hero{style: "padding: 45px 0px 90px 0px; background-color: #000000;"}
  .video-container{style: "width: 800px; height: 450px; margin: 0px auto;"}
    =render 'videos/inline_video', video_id: @video.media_id
#video-individual__container.container-fluid
  .row
    .col-md-6.col-md-offset-2
      - if @video.title?
        %h1=@video.title
      - else
        %h1="A video about #{@issue.name}."
      - if @video.description?
        %p=@video.description
    .col-md-4
      .opinion
        - if @video.vote.vote == 1
          =image_tag("Thumb up.png")
          %h3="I support #{@issue.name}"
        - if @video.vote.vote == 0
          =image_tag("Thumb down.png")
          %h3="I oppose #{@issue.name}"
      %p="Total Views"
      %h1=@video.statistics.inject(0){|sum,v| sum + v.watched }
      =render('share_buttons', twitter_text: t('.twitter_text', issue_name: @issue.name, url: request.original_url), facebook_text: t('.facebook_text', issue_name: @issue.name, url: request.original_url), twitter_image: "Icon_Twitter.svg", facebook_image: "Icon_FB.svg")
#issue-related__videos.container-fluid
  %h3.lightblue="More Videos About #{@issue.name}"
  = render 'videos/video_carousel', videos: @videos, slicktrabutes: video_slicktrabutes, title: "", issue: @issue
#how-it-works__container.container-fluid
  .row
    %h3.lightblue="How It Works"
    .col-md-6.col-md-offset-3.darkblue
      = render 'call_to_action', text: t('call_to_action.everybody_opinion'), sub_text: t('call_to_action.opinion_sub_html'), button_text: t('call_to_action.share_button')
