#uploadModal.modal.fade{role: "dialog", tabindex: "-1", aria: { labelledby: "uploadModalLabel"}}
  .modal-dialog.modal-md{role: "document"}
    .modal-content
      .modal-header
        %button.close{aria: { label: t('modals.close') }, data: { dismiss: "modal" }, type: "button"}
          %span{aria: { hidden: "true"}} &times;
        %h4.modal-title#uploadModalLabel="What's On Your Mind?"
      .br-modal__scroll
        .modal-body
          - if user_signed_in?
            = form_for Video.new, remote: true, html: {multipart: true}, data: { type: :json }  do |f|
              = hidden_field_tag :authenticity_token, form_authenticity_token
              #category-issue__container
                #category-select__container
                  .form-group
                    = f.label "Select a Category"
                  .form-group
                    = select_tag :category_id, options_for_select(Category.all.collect {|cat| [cat.name, cat.id]}), include_blank: true
                #issue-select__container{style: "display:none;"}
                  .form-group
                    = f.label "Select an Issue"
                  .form-group
                    = f.select :issue_id, "", class: 'form-control'
                .clear
              #second-upload__step{style: "display:none;"}
                %div
                  .form-group.text-center
                    = f.label "Attach Your File"
                    %br
                    =f.file_field :content, {accept: "video/*;capture=camcorder"}
                  #title-description__container
                    #title-input__container
                      .form-group
                        = f.label "Enter a Title"
                      .form-group
                        =f.text_field :title, class: "form-control input-lg"
                    #description-input__container
                      .form-group
                        = f.label "Enter a Description"
                      .form-group
                        =f.text_area :description, class: "form-control input-lg"
                    .clear
                  .form-group.text-center.votes
                    =f.radio_button :vote, 1
                    =label_tag 'Support', nil, class: 'support vote__selector'
                    =f.radio_button :vote, 0
                    =label_tag 'Oppose', nil, class: 'oppose vote__selector'
                .form-group
                  %p#upload-modal__errors.error.text-center
                .form-group.text-center
                  =f.submit "Add Your Voice", class: "btn btn-lg byb", remote: true
          - else
            %button.btn.btn-info{type: "button", data: {toggle: 'modal', target: '#signupModal'}}="Sign in to post a video"
