= share_button class: "twitter-share", data: {source: "Twitter"}, href: URI.encode("https://twitter.com/intent/tweet?text=#{twitter_text}") do
  = image_tag twitter_image
= share_button class: "facebook-share", href: "#", data: {source: "Facebook", quote: facebook_text} do
  = image_tag facebook_image
