= share_button class: "twitter-share", data: {source: "Twitter"}, href: URI.encode("https://twitter.com/intent/tweet?text=#{t('.twitter_text', issue_name: local_assigns[:issue_name])}") do
  = image_tag "Icon_Twitter.svg"
= share_button class: "facebook-share", href: "#", data: {source: "Facebook", quote: "I love seetheissue"} do
  = image_tag "Icon_FB.svg"
