!!!
<!DOCTYPE html>
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = favicon_link_tag 'favicon.ico'

    / TODO: Add page-specific titles
    %title
      = yield(:title).presence || "Seetheissue"

    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag "application", "https://fonts.googleapis.com/css?family=Khand"
    = stylesheet_link_tag "application", "https://fonts.googleapis.com/css?family=Playfair+Display"
    = stylesheet_link_tag "application", "https://fonts.googleapis.com/css?family=Open+Sans"
    = stylesheet_link_tag "application", "https://fonts.googleapis.com/css?family=Lato"
    = stylesheet_link_tag "application", "https://fonts.googleapis.com/css?family=Oswald"

  %body{ class: "#{controller.controller_path} #{controller.action_name}" }
    - #Facebook JS SDK
    = render 'facebook_jssdk'
    - #Twitter JS SDK
    = render 'twitter_jssdk'

    = render 'navbar'

    = render 'modals/signup'
    = render 'modals/login'
    = render 'modals/upload_modal'
    = yield
    = render 'footer'

    = javascript_include_tag "application"
    = javascript_include_tag "//cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"
    = yield :bottom
